# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# macOS system files
.DS_Store

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest
.cache/

# MyPy
.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/

# data
data/
